// THEME COLORS
$primary: #00AEEF;
$secondary: #006F9C;

// BACKGROUNDS
$grayBg: #F6F6F6;
$grayColor: #D1D1D1;
$inputBg: #f8f8f8;
$hoverBg: #ececec;

// BORDER-COLORS
$border-1: #e8e8e8;
$border-2: #332e57;
$inputBorder: #e6e6e6;
$textPlaceholder: #b4b4b4;
$contactInputBg: #f8f8f8;

// PACKAGE BG
$primary-package: #df7a91;
$standard-package: #add3a9;
$package-border: #e6e6e6;

// TEXT COLORS
$textPrimary: #646464;
$textSecondary: #2A2A2A;
$textDanger: #EC2020;
$textWarning: #EFC720;
$primary-Bg: #20AEEF;
$badgeBg: #d2effc;

$warningBg: #fcefd2;
$warningColor: #ffce00;


// NORMAL COLORS
$white: #ffffff;
$black: #000000;

// BADGE BACKGROUND