// BLOG BANNER
.blog-banner {
    background: url(../images/blog/blog-banner/blog-banner.svg) center center/cover;
    padding: length(80) length(0);
    position: relative;
    margin-bottom: length(100);

    @include breakpoint(tablet991) {
        margin-bottom: length(50);
    }

    &-content {
        @include flex-center-column;
        gap: length(20);
        position: relative;
        z-index: 2;

        .blog-title {
            @include mainheadingblack;
            color: $white;
            text-align: center;

            @include breakpoint(tablet991) {
                @include cardheading;
            }
        }

        .blog-text {
            @include bannerText;
            text-align: center;
            letter-spacing: length(0.48);
            margin-bottom: length(34);

            @include breakpoint(tablet991) {
                @include topBarLink;
            }

            @include breakpoint(phone500) {
                @include mobileText;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        @include wh100;
        background: rgba($black, 0.5);
    }
}

// BLOG MAIN
.blog-main {
    .blog-card {
        margin-bottom: length(24);
    }
}