// CONTACT BANNER
.contact-banner {
    background: url(../images/contact/contact-banner/contact-banner.svg) center center/cover;
    padding: length(60) length(0) length(90);
    position: relative;
    margin-bottom: length(100);

    @include breakpoint(tablet991) {
        margin-bottom: length(50);
    }

    &-content {
        @include flex-center-column;
        gap: length(20);
        position: relative;
        z-index: 2;

        .contact-title {
            @include mainheadingblack;
            color: $white;
            text-align: center;

            @include breakpoint(tablet991) {
                @include cardheading;
            }
        }

        .contact-text {
            @include bannerText;
            letter-spacing: length(0.48);
            text-align: center;

            @include breakpoint(tablet991) {
                @include topBarLink;
            }

            @include breakpoint(phone500) {
                @include mobileText;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        @include wh100;
        background: rgba($black, 0.5);
    }
}

.contact {
    margin-bottom: length(150);

    @include breakpoint(tablet991) {
        margin-bottom: length(80);
    }

    &-form {
        @include flex-column;
        gap: length(20);

        .inputbox {
            .form-floating {

                .form-control,
                .form-select {
                    @include inputText;
                }
            }

            .form-control,
            .form-select {
                @include inputText;
                @include border(solid, 1, $inputBorder);
                @include setBgColor($contactInputBg, $textPrimary);
                @include transitions;

                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: $textPrimary;
                }
            }

            .comment {
                .form-control {
                    padding: .75rem;
                }
            }

            .input-group {
                @include border(solid, 1, transparent);
                @include radius(4);

                &-text {
                    background: $contactInputBg;
                    border-color: $inputBorder;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    border-right: 0;
                }

                select {
                    @include inputText;
                }
            }

            .form-select {
                @include inputText;
                -moz-appearance: none;
                -o-appearance: none;
                -ms-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                cursor: pointer;
                @include border(solid, 1, transparent);
                background: $contactInputBg url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='20' height='16' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='2a2a2a'/></g></svg>") no-repeat 98.5% center;
            }

            .error-message {
                @include errorText;
                color: $textDanger;
                display: none;
            }

            &.error {
                .form-floating {
                    .form-control {
                        border-color: $textDanger;
                    }

                    label {
                        color: $textDanger;
                        display: block;
                    }
                }

                .form-select {
                    border-color: $textDanger;
                }

                .input-group {
                    border-color: $textDanger;
                }

                .error-message {
                    display: block;
                }
            }
        }

        .inputboxrow {
            width: 100%;
            @include flex-center-vert;
            gap: length(30);

            @include breakpoint(tablet991) {
                flex-direction: column;
            }

            .inputcol {
                width: 50%;

                @include breakpoint(tablet991) {
                    width: 100%;
                }

                .input-group {

                    .phone {
                        width: calc(100% - 5.625rem);
                    }

                    .form-select {
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .form-control {
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }

                .inputs {

                    .form-select {

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .form-control {
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .form-floating {
                        .form-control {
                            @include setBgColor($inputBg, $textPrimary);
                            @include border(solid, 1, $inputBorder);


                            &:focus {
                                box-shadow: none;
                                outline: none;
                                color: $textPrimary;
                            }
                        }

                        label {
                            font-size: length(16);
                            color: $textPrimary;
                        }
                    }
                }


            }
        }
    }
}

.contact-info {
    margin-bottom: length(100);

    @include breakpoint(tablet991) {
        margin-bottom: length(50);
    }

    &-content {
        @include flex-column;
        gap: length(100);

        @include breakpoint(tablet991) {
            gap: length(50);
        }
    }

    .info {
        @include flex-column;
        gap: length(20);

        .title {
            @include contactTitle;
            color: $textSecondary;
            text-align: center;
        }

        .text {
            @include bodyFont;
            letter-spacing: length(0.48);
            text-align: center;
        }
    }

    .infobox {
        @include flex-center-column;
        gap: length(20);
        text-align: center;

        @include breakpoint(tablet991) {
            margin-bottom: length(40);
        }

        .icon {
            margin-bottom: length(10);
        }

        .title {
            @include textButton;
            color: $textSecondary;
            font-weight: 600;
            text-align: center;
        }

        .text {
            @include bodyFont;
            letter-spacing: length(0.48);
            text-align: center;
        }

        .contactlist {
            &-item {
                list-style: none;
            }

            &-link {
                @include bodyFont;
                letter-spacing: length(0.48);
                text-align: center;
                @include transitions;

                @include hover {
                    color: $black;
                }
            }
        }
    }
}